---
import BaseLayout from '../../layouts/BaseLayout.astro'
import TitlePage from '../../components/TitlePage.astro'
import { Content as About } from '../../content/about/about.mdx'
import { Image } from 'astro:assets'
import selfImage from '../../../public/Photo_Jeju_Small.jpg'
---

<BaseLayout title='About Me'>
	<TitlePage title='About Me' />
	<article class='max-w-full w-full'>
		<Image
			src={selfImage}
			width={500}
			height={500}
			format='webp'
			alt='portfolio_self_image'
			class='rounded-full w-[200px] h-[200px]'
		/>
		<div class='prose prose-lg md:prose-xl dark:prose-invert my-12 min-w-full'>
			<About />
		</div>
	</article>
</BaseLayout>
