---

---

<section class='giscus mx-auto my-10 w-full'></section>

<script
	src='https://giscus.app/client.js'
	data-repo='sscoderati/sscoderati.github.io'
	data-repo-id='R_kgDOLBhBow'
	data-category='Blog Comment'
	data-category-id='DIC_kwDOLBhBo84CdHO0'
	data-mapping='url'
	data-strict='0'
	data-reactions-enabled='1'
	data-emit-metadata='0'
	data-input-position='bottom'
	data-theme='light_protanopia'
	data-lang='ko'
	data-loading='lazy'
	crossorigin='anonymous'
	async></script>

<script>
	const frame = document.querySelector('.giscus-frame')
	frame.setAttribute('loading', 'lazy')
</script>

<script>
	function getGiscusTheme() {
		const currentTheme = localStorage.getItem('theme')
		return currentTheme === 'light' ? 'noborder_light' : 'noborder_gray'
	}

	function setGiscusTheme() {
		function sendMessage(message) {
			const iframe = document.querySelector('iframe.giscus-frame')
			if (!iframe) return
			iframe.contentWindow.postMessage({ giscus: message }, 'https://giscus.app')
		}
		sendMessage({
			setConfig: {
				theme: getGiscusTheme()
			}
		})
	}

	document.addEventListener('DOMContentLoaded', function () {
		const giscusAttributes = {
			src: 'https://giscus.app/client.js',
			'data-repo': 'sscoderati/sscoderati.github.io',
			'data-repo-id': 'R_kgDOLBhBow',
			'data-category': 'Blog Comment',
			'data-category-id': 'DIC_kwDOLBhBo84CdHO0',
			'data-mapping': 'url',
			'data-strict': '0',
			'data-reactions-enabled': '1',
			'data-emit-metadata': '0',
			'data-input-position': 'bottom',
			'data-theme': getGiscusTheme(),
			'data-lang': 'ko',
			'data-loading': 'lazy',
			crossorigin: 'anonymous',
			async: ''
		}

		// Dynamically create script tag
		const giscusScript = document.createElement('script')
		Object.entries(giscusAttributes).forEach(([key, value]) =>
			giscusScript.setAttribute(key, value)
		)
		document.body.appendChild(giscusScript)

		// Update giscus theme when theme switcher is clicked
		const toggle = document.querySelector('#toggle-theme')
		if (toggle) {
			toggle.addEventListener('click', setGiscusTheme)
		}
	})
</script>
